%html
  %body
    
    %form(method="post" enctype='multipart/form-data')   
      %br
      %br
      %input(type='submit' name='submit' value='Upload a Function!')   
       %input(type='text' name='UserName' placeholder='UserName' value='params[:UserName]') 
      %br
      %br
      %input(type='submit' name='submit' value='Delete a Function!')
      %br
      %br
      %input(type='submit' name = 'submit' value='List my Functions!')