%html
  %body
    
    %form(method="post" enctype='multipart/form-data')   
      %input(type='text' name='UserName' placeholder='UserName') 
      %br
      %br
      %input(type='submit' value='Submit!')

