
#Provide the location of .pem file to access the VM
#This will be used across all VMs

#KEY=<path to .pem file with file name>
#KEY=/home/ubuntu/key.pem

KEY=/home/ubuntu/my-key.pem

#Provide the VM provisioning details/parameters

FLAVOR=m1.medium
IMAGE=ubuntu-14.04
KEY_NAME=my-key
SEC_GROUPS=SSH,default
NETWORK=net-work

